{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href="//fonts.googleapis.com/css?family=Press+Start+2P&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">


	<title>CPA Project</title>
</head>
<body>
<div class="outer">
<div class="page-header">
<table class="header-table">
<tr>
	<td class="td-header"><h1><center><a href="/">Blog</a></center></h1></td>
	<td class="td-header">
	{% if user.is_authenticated %}
        	<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
		<p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Logout</a>)</small></p>
      
		
	{% endif %}
	<h4><a href="{% url 'login' %}">Login</a></h4>
	</td>
	



  
</tr>
</table>
</div>

<table align="center" class="tbl">
{% block content %}
    
{% endblock %}
</table>
</div>
</body>
</html>
