{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href="//fonts.googleapis.com/css?family=Press+Start+2P&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">


	<title>CPA Project</title>
</head>
<body>
<div class="outer">
<div class="page-header">
    <h1><center><a href="/">Blog</a></center></h1>
</div>

<table align="center" class="tbl">
{% for post in posts %}
    <tr>
        <td>
	<div class="post">
        	<h1><a href="">{{ post.title }}</a></h1>
		<div class="date">
			<p>published: {{ post.published_date }}</p>
		</div>
	</div>
        <p>{{ post.text|linebreaksbr }}</p>
	</td>
    </tr>
{% endfor %}
</table>
</div>
</body>
</html>
